/* @import code */
@import url('assets/fonts/fonts.css');

/* reset/normalize */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

/* custom styles */
.wrapper {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

footer {
  font-size: 0.7rem;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 2rem 0;
  text-align: center;
  color: #fff;
  background-color: #051937;
}