/* @import code */
@import url('assets/fonts/fonts.css');

:root{
  --black: #36383F;
  --gray: #85888C;
} /* variables*/

/* reset/normalize */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

/* custom styles */
.wrapper {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

/* Header Section */
.header {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Nav menu */
.nav {
  width: 100%;
  height: 100%;
  max-height: 0;
  position: fixed;
  background-color: var(--black);
  overflow: hidden;
  transition: max-height .5s ease-out;

  .menu a {
    display: block;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 200;
    letter-spacing: 2px;
    padding: 30px;

    &:hover{
      background-color: var(--gray);
    }
  }

  /* Responsiveness */
  @media (min-width: 768px) {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
    
    .menu li{
      float: left;
    }
    .menu a{
      text-transform: uppercase;
    }
  }
}

/* Menu Icon */
.hamb {
  cursor: pointer;
  float: right;
  padding: 30px 20px;
  position: relative;
  z-index: 1;

  .hamb-line {
    display: block;
    width: 24px;
    height: 2px;
    background: #fff;
    position: relative;

    &::before,
    &::after {
      background: #fff;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      transition: all .2s ease-out;
      width: 100%;
    }
    &::before{
      top: 5px;
    }
    &::after{
      top: -5px;
    }
  } /* Style span tag */

  /* Responsiveness */
  @media (min-width: 768px) {
    display: none;
  }
}/* Style label tag */

.side-menu {
  display: none;

  /* Toggle menu icon */
  &:checked ~ nav{
    max-height: 100%;
  }
  &:checked ~ .hamb .hamb-line {
    background: transparent;
  }
  &:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
  }
  &:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
  }
} /* Hide checkbox */

body:has(.side-menu:checked) {
  overflow: hidden;
}

/* Hero Section */
.hero {
  height: 100dvh;
  background: #2A7B9B;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#051937), color-stop(#002967), color-stop(#00389a), color-stop(#2b43cc), to(#6049fd));
  background-image: -o-linear-gradient(left bottom, #051937, #002967, #00389a, #2b43cc, #6049fd);
  background-image: linear-gradient(to right top, #051937, #002967, #00389a, #2b43cc, #6049fd);
}

/* Main Section */
main {
  height: 1000px;
}

/* Footer Section */
footer {
  font-size: 0.7rem;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 2rem 0.5rem;
  text-align: center;
  color: #fff;
  background-color: #051937;
}