/* Poppins - Regular - 400 */
@font-face {
  font-family: "Poppins";
  src: url('poppins/Poppins-Regular.ttf') format('truetype'),
       url('poppins/Poppins-Regular.woff') format('woff'),
       url('poppins/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url('poppins/Poppins-Italic.ttf') format('truetype'),
       url('poppins/Poppins-Italic.woff') format('woff'),
       url('poppins/Poppins-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Poppins - Extra Light - 200 */
@font-face {
  font-family: "Poppins";
  src: url('poppins/Poppins-ExtraLight.ttf') format('truetype'),
       url('poppins/Poppins-ExtraLight.woff') format('woff'),
       url('poppins/Poppins-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url('poppins/Poppins-ExtraLightItalic.ttf') format('truetype'),
       url('poppins/Poppins-ExtraLightItalic.woff') format('woff'),
       url('poppins/Poppins-ExtraLightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Poppins - Light - 300 */
@font-face {
  font-family: "Poppins";
  src: url('poppins/Poppins-Light.ttf') format('truetype'),
       url('poppins/Poppins-Light.woff') format('woff'),
       url('poppins/Poppins-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url('poppins/Poppins-LightItalic.ttf') format('truetype'),
       url('poppins/Poppins-LightItalic.woff') format('woff'),
       url('poppins/Poppins-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Poppins - Medium - 500 */
@font-face {
  font-family: "Poppins";
  src: url('poppins/Poppins-Medium.ttf') format('truetype'),
       url('poppins/Poppins-Medium.woff') format('woff'),
       url('poppins/Poppins-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url('poppins/Poppins-MediumItalic.ttf') format('truetype'),
       url('poppins/Poppins-MediumItalic.woff') format('woff'),
       url('poppins/Poppins-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Poppins - Semi Bold - 600 */
@font-face {
  font-family: "Poppins";
  src: url('poppins/Poppins-SemiBold.ttf') format('truetype'),
       url('poppins/Poppins-SemiBold.woff') format('woff'),
       url('poppins/Poppins-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url('poppins/Poppins-SemiBoldItalic.ttf') format('truetype'),
       url('poppins/Poppins-SemiBoldItalic.woff') format('woff'),
       url('poppins/Poppins-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Poppins - Bold - 700 */
@font-face {
  font-family: "Poppins";
  src: url('poppins/Poppins-Bold.ttf') format('truetype'),
       url('poppins/Poppins-Bold.woff') format('woff'),
       url('poppins/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url('poppins/Poppins-BoldItalic.ttf') format('truetype'),
       url('poppins/Poppins-BoldItalic.woff') format('woff'),
       url('poppins/Poppins-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}